/* стили блока аккордеон */
.faq {
	background: #eeeeee;
	padding: 40px 0px;
}
.title-section {
	text-align: center;
}
.accordion {
	max-width: 600px;
	margin: 0 auto;
	padding: 40px 0px;
}
/* секции аккордеона */
.accordion .accordion_item {
	margin-bottom: 2px;
	position: relative;
	
}
/* заголовки панелей аккордеона */
.accordion .title_block {
	padding: 0px;
	margin: 0px;
	font-size: 22px;
	font-weight: 500;
	color: #000;
	cursor: pointer;
	background: #fff;
	padding: 25px 30px;
	-webkit-transition: 0.2s ease all;
	transition: 0.2s ease all;
}
/* переключатель панелей, положение вниз */
.accordion .title_block:before {
	content: '';
	height: 15px;
	width: 15px;
	display: block;
	border: 1px solid #000;
	border-right-width: 0;
	border-top-width: 0;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	right: 20px;
	top: 30px;
	-webkit-transition: 0.1s ease all;
	transition: 0.1s ease all;
}
/* активный переключатель, положение вверх */
.accordion .active_block .title_block:before {
	border: 1px solid #000;
	border-left-width: 0;
	border-bottom-width: 0;
	top: 30px;
}
.accordion .title_block:hover {
	background: rgb(247, 51, 51);
}
/* заголовок активного блока  */
.accordion .active_block .title_block {
	background: rgb(247, 51, 51);
	color: #000;
}
/* блоки с содержанием */
.accordion .info {
	display: none;
	padding: 25px 30px;
	overflow: hidden;
	background: #fff;
	background: #fff;
}
/* параграф внутри блоков с содержанием */
.accordion .info_item {
	font-size: 14px;
	font-weight: 300;
}	